.active-link {
  background-color: rgba(255, 255, 255, 0.18) !important;
  /* color: var(--mat-sys-primary) !important; */
  font-weight: 700;
  border-radius: 8px;
  transition: background-color 0.2s ease-in-out;
}

.active-link:hover {
  background-color: rgba(255, 255, 255, 0.28) !important;
}
